This notebook is about the unique brands and cleaning the peanut butter table

In [188]:
import requests
import pandas as pd

In [189]:
df = pd.read_csv("pbmapdatanew.csv")
df

,Missa,Mika,Brandit,Montako
0,"632 Vanderbilt Ave, Brooklyn, NY 11238",Foodtown of Prospect Heights,"Skippy, JIF, Smuckers, Justines, PeanutButterC...",21
1,"130 7th Ave, Brooklyn, NY 11215",Key Food Urban Market Place,"Skippy, JIF, PeterPan, Teddie, UrbanMeadow, Br...",13
2,"720 Washington Ave, Brooklyn, NY 11238",Ideal Food Basket,"OnceAgain, Ricards100%Peanuts, WildHarvest, Sk...",12
3,"812 Franklin Ave, Brooklyn, NY 11225",812 Corp,"Justines, Smuckers, JIF, Skippy, Reeses, Peter...",9
4,"782 Union St, Brooklyn, NY 11215",Park Slope Food Coop,"Smuckers, OnceAgain, Justines, FieldDay, Woods...",8
5,"744 Franklin Ave, Brooklyn, NY 11238",Mr Kale,"OnceAgain, Justines, JIF, Brads, Skippy, Cream...",8
6,"790 Franklin Ave, Brooklyn, NY 11238",Frank's Finest Deli,"Skippy, JIF, Justines, EssentialseverydayPB, B...",8
7,"393 Lincoln PL, Brooklyn, NY 11238",Gourmet Deli,"SweetEllas, Brads, CreamNut, OnceAgain, Peanut...",7
8,"75 7th Ave, Brooklyn, NY 11217",7th Avenue Gourmet,"OnceAgain, SantaCruz, Justines, Skippy, Peanut...",6
9,"98 Montgomery St, Brooklyn, NY 11225",Family Supermarket,"JIF, PeanutButter&Co, Skippy, Brads, CreamNut",5
10,"769 Franklin Ave, Brooklyn, NY 11238",SJ Green Market,"OnceAgain, CreamNut, Brads",3
11,"322 Flatbush Ave, Brooklyn, NY 11238",DNY Natural Land,"Brads, CreamNut, OnceAgain",3
12,"323 St Johns Pl, Brooklyn, NY 11238",St Johns Natural Food,"Ricards100%Peanuts, CreamNut",2
13,"746 Washington Ave, Brooklyn, NY 11238",Cepeda Grocery,Skippy,1
14,"296 Flatbush Ave, Brooklyn, NY 11217",Duane Reed,JIFF,1

In [190]:
df.dtypes

Missa      object
Mika       object
Brandit    object
Montako     int64
dtype: object

In [191]:
df.shape

(15, 4)

In [192]:
df['Montako'].mean()

7.133333333333334

In [193]:
df.groupby('Brandit').Montako.value_counts()

Brandit                                                                                                                                                                                                                        Montako
Brads, CreamNut, OnceAgain                                                                                                                                                                                                     3          1
JIF, PeanutButter&Co, Skippy, Brads, CreamNut                                                                                                                                                                                  5          1
JIFF                                                                                                                                                                                                                           1          1
Justines, Smuckers, JIF, Skippy, Reeses, PeterPan, PeanutButter&Co, CBsNuts, NuttyGourmet                                                                                                                                      9          1
OnceAgain, CreamNut, Brads                                                                                                                                                                                                     3          1
OnceAgain, Justines, JIF, Brads, Skippy, CreamNut, Teddie, Smuckers                                                                                                                                                            8          1
OnceAgain, Ricards100%Peanuts, WildHarvest, Skippy, Smuckers, JIF, EssentialseverydayPB, Justines, PeanutButter&Co, PeterPan, Reeses, SantaCruz                                                                                12         1
OnceAgain, SantaCruz, Justines, Skippy, PeanutButter&Co, JIF                                                                                                                                                                   6          1
Ricards100%Peanuts, CreamNut                                                                                                                                                                                                   2          1
Skippy                                                                                                                                                                                                                         1          1
Skippy, JIF, Justines, EssentialseverydayPB, BNutty, OnceAgain, MaraNath, Richards100%Peanuts                                                                                                                                  8          1
Skippy, JIF, PeterPan, Teddie, UrbanMeadow, Brads,  PB2, PeanutButter&Co, SantaCruz, Justines, UrbanMeadow, Smuckers, OnceAgain, Reeses                                                                                        13         1
Skippy, JIF, Smuckers, Justines, PeanutButterCo, OnceAgain, CBsNuts, Bazzini, Ricards100%Peanuts, EarthBalance, WowButter, Biscoff, SweetEllas, OneTrickPony, Mumgry, Teddie, Sqrl, Reeses, SmartBalance, PeterPan, CreamNut   21         1
Smuckers, OnceAgain, Justines, FieldDay, Woodstock, PeanutButter&Co, SweetEllas, PB2,                                                                                                                                          8          1
SweetEllas, Brads, CreamNut, OnceAgain, PeanutDeligth, PeanutButter&Co, Skippy                                                                                                                                                 7          1
Name: count, dtype: int64

In [194]:
df.rename(columns={'Mika': 'Store', 'Missa': 'Addres', 'Brandit': 'Brand', 'Montako': 'Amount'}, inplace=True)
df.head()

,Addres,Store,Brand,Amount
0,"632 Vanderbilt Ave, Brooklyn, NY 11238",Foodtown of Prospect Heights,"Skippy, JIF, Smuckers, Justines, PeanutButterC...",21
1,"130 7th Ave, Brooklyn, NY 11215",Key Food Urban Market Place,"Skippy, JIF, PeterPan, Teddie, UrbanMeadow, Br...",13
2,"720 Washington Ave, Brooklyn, NY 11238",Ideal Food Basket,"OnceAgain, Ricards100%Peanuts, WildHarvest, Sk...",12
3,"812 Franklin Ave, Brooklyn, NY 11225",812 Corp,"Justines, Smuckers, JIF, Skippy, Reeses, Peter...",9
4,"782 Union St, Brooklyn, NY 11215",Park Slope Food Coop,"Smuckers, OnceAgain, Justines, FieldDay, Woods...",8

In [195]:
df

,Addres,Store,Brand,Amount
0,"632 Vanderbilt Ave, Brooklyn, NY 11238",Foodtown of Prospect Heights,"Skippy, JIF, Smuckers, Justines, PeanutButterC...",21
1,"130 7th Ave, Brooklyn, NY 11215",Key Food Urban Market Place,"Skippy, JIF, PeterPan, Teddie, UrbanMeadow, Br...",13
2,"720 Washington Ave, Brooklyn, NY 11238",Ideal Food Basket,"OnceAgain, Ricards100%Peanuts, WildHarvest, Sk...",12
3,"812 Franklin Ave, Brooklyn, NY 11225",812 Corp,"Justines, Smuckers, JIF, Skippy, Reeses, Peter...",9
4,"782 Union St, Brooklyn, NY 11215",Park Slope Food Coop,"Smuckers, OnceAgain, Justines, FieldDay, Woods...",8
5,"744 Franklin Ave, Brooklyn, NY 11238",Mr Kale,"OnceAgain, Justines, JIF, Brads, Skippy, Cream...",8
6,"790 Franklin Ave, Brooklyn, NY 11238",Frank's Finest Deli,"Skippy, JIF, Justines, EssentialseverydayPB, B...",8
7,"393 Lincoln PL, Brooklyn, NY 11238",Gourmet Deli,"SweetEllas, Brads, CreamNut, OnceAgain, Peanut...",7
8,"75 7th Ave, Brooklyn, NY 11217",7th Avenue Gourmet,"OnceAgain, SantaCruz, Justines, Skippy, Peanut...",6
9,"98 Montgomery St, Brooklyn, NY 11225",Family Supermarket,"JIF, PeanutButter&Co, Skippy, Brads, CreamNut",5
10,"769 Franklin Ave, Brooklyn, NY 11238",SJ Green Market,"OnceAgain, CreamNut, Brads",3
11,"322 Flatbush Ave, Brooklyn, NY 11238",DNY Natural Land,"Brads, CreamNut, OnceAgain",3
12,"323 St Johns Pl, Brooklyn, NY 11238",St Johns Natural Food,"Ricards100%Peanuts, CreamNut",2
13,"746 Washington Ave, Brooklyn, NY 11238",Cepeda Grocery,Skippy,1
14,"296 Flatbush Ave, Brooklyn, NY 11217",Duane Reed,JIFF,1

In [196]:
brand_list = df['Brand'].tolist()
brand_list

['Skippy, JIF, Smuckers, Justines, PeanutButterCo, OnceAgain, CBsNuts, Bazzini, Ricards100%Peanuts, EarthBalance, WowButter, Biscoff, SweetEllas, OneTrickPony, Mumgry, Teddie, Sqrl, Reeses, SmartBalance, PeterPan, CreamNut ',
 'Skippy, JIF, PeterPan, Teddie, UrbanMeadow, Brads,  PB2, PeanutButter&Co, SantaCruz, Justines, UrbanMeadow, Smuckers, OnceAgain, Reeses',
 'OnceAgain, Ricards100%Peanuts, WildHarvest, Skippy, Smuckers, JIF, EssentialseverydayPB, Justines, PeanutButter&Co, PeterPan, Reeses, SantaCruz',
 'Justines, Smuckers, JIF, Skippy, Reeses, PeterPan, PeanutButter&Co, CBsNuts, NuttyGourmet',
 'Smuckers, OnceAgain, Justines, FieldDay, Woodstock, PeanutButter&Co, SweetEllas, PB2, ',
 'OnceAgain, Justines, JIF, Brads, Skippy, CreamNut, Teddie, Smuckers',
 'Skippy, JIF, Justines, EssentialseverydayPB, BNutty, OnceAgain, MaraNath, Richards100%Peanuts',
 'SweetEllas, Brads, CreamNut, OnceAgain, PeanutDeligth, PeanutButter&Co, Skippy',
 'OnceAgain, SantaCruz, Justines, Skippy, PeanutButter&Co, JIF',
 'JIF, PeanutButter&Co, Skippy, Brads, CreamNut',
 'OnceAgain, CreamNut, Brads',
 'Brads, CreamNut, OnceAgain',
 'Ricards100%Peanuts, CreamNut',
 'Skippy',
 'JIFF']

In [197]:
# want to see a list of unique brand names
brand = df['Brand'].str.split(', ')
brand = [brand for sublist in brand for brand in sublist]
unique_brands = set(brand)
unique_brands

{'',
 ' PB2',
 'BNutty',
 'Bazzini',
 'Biscoff',
 'Brads',
 'CBsNuts',
 'CreamNut',
 'CreamNut ',
 'EarthBalance',
 'EssentialseverydayPB',
 'FieldDay',
 'JIF',
 'JIFF',
 'Justines',
 'MaraNath',
 'Mumgry',
 'NuttyGourmet',
 'OnceAgain',
 'OneTrickPony',
 'PB2',
 'PeanutButter&Co',
 'PeanutButterCo',
 'PeanutDeligth',
 'PeterPan',
 'Reeses',
 'Ricards100%Peanuts',
 'Richards100%Peanuts',
 'SantaCruz',
 'Skippy',
 'SmartBalance',
 'Smuckers',
 'Sqrl',
 'SweetEllas',
 'Teddie',
 'UrbanMeadow',
 'WildHarvest',
 'Woodstock',
 'WowButter'}

In [198]:
df["Brand"] = (df["Brand"]
    .str.replace("JIFF", "JIF")
    .str.replace("PeanutButterCo", "PeanutButter&Co" )
    .str.replace("Justines", "Justins'" )
    .str.replace("CreamNut ", "CreamNut" )
    .str.replace("EssentialseverydayPB", "EssentialseverydayPeanutButter" )
    .str.replace("CBsNuts", "CB'sNuts")
)
df

,Addres,Store,Brand,Amount
0,"632 Vanderbilt Ave, Brooklyn, NY 11238",Foodtown of Prospect Heights,"Skippy, JIF, Smuckers, Justins', PeanutButter&...",21
1,"130 7th Ave, Brooklyn, NY 11215",Key Food Urban Market Place,"Skippy, JIF, PeterPan, Teddie, UrbanMeadow, Br...",13
2,"720 Washington Ave, Brooklyn, NY 11238",Ideal Food Basket,"OnceAgain, Ricards100%Peanuts, WildHarvest, Sk...",12
3,"812 Franklin Ave, Brooklyn, NY 11225",812 Corp,"Justins', Smuckers, JIF, Skippy, Reeses, Peter...",9
4,"782 Union St, Brooklyn, NY 11215",Park Slope Food Coop,"Smuckers, OnceAgain, Justins', FieldDay, Woods...",8
5,"744 Franklin Ave, Brooklyn, NY 11238",Mr Kale,"OnceAgain, Justins', JIF, Brads, Skippy, Cream...",8
6,"790 Franklin Ave, Brooklyn, NY 11238",Frank's Finest Deli,"Skippy, JIF, Justins', EssentialseverydayPeanu...",8
7,"393 Lincoln PL, Brooklyn, NY 11238",Gourmet Deli,"SweetEllas, Brads, CreamNut, OnceAgain, Peanut...",7
8,"75 7th Ave, Brooklyn, NY 11217",7th Avenue Gourmet,"OnceAgain, SantaCruz, Justins', Skippy, Peanut...",6
9,"98 Montgomery St, Brooklyn, NY 11225",Family Supermarket,"JIF, PeanutButter&Co, Skippy, Brads, CreamNut",5
10,"769 Franklin Ave, Brooklyn, NY 11238",SJ Green Market,"OnceAgain, CreamNut, Brads",3
11,"322 Flatbush Ave, Brooklyn, NY 11238",DNY Natural Land,"Brads, CreamNut, OnceAgain",3
12,"323 St Johns Pl, Brooklyn, NY 11238",St Johns Natural Food,"Ricards100%Peanuts, CreamNut",2
13,"746 Washington Ave, Brooklyn, NY 11238",Cepeda Grocery,Skippy,1
14,"296 Flatbush Ave, Brooklyn, NY 11217",Duane Reed,JIF,1

In [199]:
df["Brand"] = (df["Brand"]
        .str.replace("EssentialseverydayPeanutButter", "EssentialsEverydayPeanutButter")
        .str.replace("UrbanMeadow", "Urbanmeadow")
        .str.replace("OnceAgain", "Once Again")
        .str.replace("Brads", "Brad's")
        .str.replace("CreamNut", "Creamnut")
        .str.replace("SmartBalance", "Smartbalance")
        .str.replace(" PB2", "PB2")
        .str.replace("Wow Butter", "WowButter")
        .str.replace("Reeses", "Reese's")
        .str.replace("Ricards100%Peanuts", "Ricards 100% Peanuts")        
)

In [200]:
import re

In [201]:
def split_brand(brands):
    return re.sub(r'(?<=[a-z])(?=[A-Z])', ' ', brands)

df['Brand'] = df['Brand'].apply(split_brand)
df[['Brand']]

                                                Brand
0   Skippy, JIF, Smuckers, Justins', Peanut Butter...
1   Skippy, JIF, Peter Pan, Teddie, Urbanmeadow, B...
2   Once Again, Ricards 100% Peanuts, Wild Harvest...
3   Justins', Smuckers, JIF, Skippy, Reese's, Pete...
4   Smuckers, Once Again, Justins', Field Day, Woo...
5   Once Again, Justins', JIF, Brad's, Skippy, Cre...
6   Skippy, JIF, Justins', Essentials Everyday Pea...
7   Sweet Ellas, Brad's, Creamnut, Once Again, Pea...
8   Once Again, Santa Cruz, Justins', Skippy, Pean...
9     JIF, Peanut Butter&Co, Skippy, Brad's, Creamnut
10                       Once Again, Creamnut, Brad's
11                       Brad's, Creamnut, Once Again
12                     Ricards 100% Peanuts, Creamnut
13                                             Skippy
14                                                JIF

In [202]:
df.head()

,Addres,Store,Brand,Amount
0,"632 Vanderbilt Ave, Brooklyn, NY 11238",Foodtown of Prospect Heights,"Skippy, JIF, Smuckers, Justins', Peanut Butter...",21
1,"130 7th Ave, Brooklyn, NY 11215",Key Food Urban Market Place,"Skippy, JIF, Peter Pan, Teddie, Urbanmeadow, B...",13
2,"720 Washington Ave, Brooklyn, NY 11238",Ideal Food Basket,"Once Again, Ricards 100% Peanuts, Wild Harvest...",12
3,"812 Franklin Ave, Brooklyn, NY 11225",812 Corp,"Justins', Smuckers, JIF, Skippy, Reese's, Pete...",9
4,"782 Union St, Brooklyn, NY 11215",Park Slope Food Coop,"Smuckers, Once Again, Justins', Field Day, Woo...",8

In [203]:
# chatGPT helped me with this: make a list from the Brand-column and count the unique brands.

brands = df['Brand'].str.split(', ')
all_brands = [brand 
    for sublist in brands 
    for brand in sublist
]
brands = set(all_brands)
brand_count = len(brands)
print(f"Unique brands count: {brand_count}")

Unique brands count: 36

In [204]:
# getting the brands sold in each store (mean)

df['Unique_Brands'] = df['Brand'].str.split(', ').apply(lambda x: len(set(x)))
mean_brands = df['Unique_Brands'].mean()
print(f"Unique brands per store: {mean_brands}")

Unique brands per store: 7.133333333333334

In [205]:
# I want to see the list so I can compare with one I made "by hand" / excel. Numbers seem to be wrong.
# splittign the brand names and making a sublist from a list: ChatGPT said that it's "flattening" a list - this I didn't understand.

brands = df['Brand'].str.split(', ')
all_brands = [brand 
    for sublist in brands 
    for brand in sublist
]
unique_brands = set(all_brands)
unique_brands_list = list(unique_brands)
unique_brands_list

['',
 'Smuckers',
 'JIF',
 'Smartbalance',
 'Richards100%Peanuts',
 'Sqrl',
 'Mara Nath',
 'Skippy',
 "Brad's",
 'Wow Butter',
 'Teddie',
 'Earth Balance',
 'Peanut Deligth',
 'Peanut Butter&Co',
 'Nutty Gourmet',
 'Mumgry',
 'Sweet Ellas,PB2',
 'BNutty',
 "Justins'",
 'Woodstock',
 'Urbanmeadow',
 'Bazzini',
 'Creamnut',
 'Ricards 100% Peanuts',
 'Sweet Ellas',
 'One Trick Pony',
 "Reese's",
 'Wild Harvest',
 'Peter Pan',
 'PB2',
 'Essentials Everyday Peanut Butter',
 'Once Again',
 'Field Day',
 "CB's Nuts",
 'Santa Cruz',
 'Biscoff']

In [206]:
csv_file_path = 'df.csv'
df.to_csv(csv_file_path, index=False)
from IPython.display import FileLink
FileLink(csv_file_path)

/Users/arminiemela/Desktop/pbproject/df.csv

In [207]:
unique_brands_list = [brand for brand in unique_brands_list if brand]
brands_df = pd.DataFrame(unique_brands_list, columns=['Brand'])
brands_df

                                Brand
0                            Smuckers
1                                 JIF
2                        Smartbalance
3                 Richards100%Peanuts
4                                Sqrl
5                           Mara Nath
6                              Skippy
7                              Brad's
8                          Wow Butter
9                              Teddie
10                      Earth Balance
11                     Peanut Deligth
12                   Peanut Butter&Co
13                      Nutty Gourmet
14                             Mumgry
15                    Sweet Ellas,PB2
16                             BNutty
17                           Justins'
18                          Woodstock
19                        Urbanmeadow
20                            Bazzini
21                           Creamnut
22               Ricards 100% Peanuts
23                        Sweet Ellas
24                     One Trick Pony
25                            Reese's
26                       Wild Harvest
27                          Peter Pan
28                                PB2
29  Essentials Everyday Peanut Butter
30                         Once Again
31                          Field Day
32                          CB's Nuts
33                         Santa Cruz
34                            Biscoff

I see that the result isn't right but Brand names are cleaner than before.